<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <AGN.Windows.Client.UI.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWinPos" serializeAs="String">
                <value>748,196,440,380</value>
            </setting>
            <setting name="ScreenPos" serializeAs="String">
                <value>0,0,1304,768</value>
            </setting>
        </AGN.Windows.Client.UI.Properties.Settings>
    </userSettings>
</configuration>